<h1 class="title">Contact Us</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>Enter your email and phone number for a free consultation:</p>
      <form class="form-group" action="/subscribe" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" placeholder="Enter name" required /><br />
        <label for="email">Email address</label>
        <input type="text" name="email" class="form-control" placeholder="Enter email" required /><br />
        <label for="phone">Phone number</label>
        <input type="text" name="phone" class="form-control" placeholder="Enter phone" required /><br /><br />
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
      </form>
      <br />
      <p>Get ready for your free consultation!</p>
    </div>
    <div class="col-sm">
      <img class="photo" src="images/phone.jpeg" alt="phone pic" />
    </div>
  </div>
</div>
