<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>
        Tire and software ​solutions is a group of extraordinary professionals.
      </p>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
