<h1 class="title">Services</h1>
<div class="container">
    <div class="row">
      <div class="col-lg">
        <div
          class="card text-white bg-secondary mb-3"
          style="max-width: 30rem;"
        >
          <div class="card-header">Comprehensive Approach</div>
          <div class="card-body">
            <h4 class="card-title">Factory Setup</h4>
            <p class="card-text">
              <ul>
                <li>Product mix decision</li>
                <li>Equipment and machinery selection</li>
                <li>Plant layout and preparation</li>
                <li>Utility design</li>
                <li>Man power assessment</li>
                <li>RM & M/C supplier identification</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div id="i"><img class='photo' src="images/factory.jpg" alt="factory setup pic"></div>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-lg">
        <div
          class="card text-white bg-secondary mb-3"
          style="max-width: 30rem;"
        >
          <div class="card-header">Quality & Cost Optimization</div>
          <div class="card-body">
            <h4 class="card-title">Material & Compounding</h4>
            <p class="card-text">
              <ul>
                <li>Define performance outputs</li>
                <li>Develop compound recipes</li>
                <li>Ensure materials availability</li>
                <li>Prototype testing</li>
                <li>Development of control specifications</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div id="i"><img class='photo' src="images/rubber.jpg" alt="rubber tapping pic"></div>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-lg">
        <div
          class="card text-white bg-secondary mb-3"
          style="max-width: 30rem;"
        >
          <div class="card-header">Attention To Detail</div>
          <div class="card-body">
            <h4 class="card-title">Design & Testing</h4>
            <p class="card-text">
              <ul>
                <li>Product identification and benchmarking</li>
                <li>Product testing & analysis</li>
                <li>Product design</li>
                <li>Mould & accessory development</li>
                <li>Prototype approvals</li>
                <li>Tire engineering</li>
                <li>Certifications</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div id="i"><img class='photo' src="images/service2.jpg" alt="factory setup pic"></div>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-lg">
        <div
          class="card text-white bg-secondary mb-3"
          style="max-width: 30rem;"
        >
          <div class="card-header">Planning & Management</div>
          <div class="card-body">
            <h4 class="card-title">Software Solutions</h4>
            <p class="card-text">
              <ul>
                <li>Website development</li>
                <li>Database management</li>
                <li>Backend development</li>
                <li>Application development</li>
                <li>IT services</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div id="i"><img class='photo' src="images/software.jpeg" alt="software solutions pic"></div>
      </div>
    </div>
</div>
