<h1 class="title">Worldview</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>
        Being a non-durable commodity, tires are produced and used in almost all parts of the world and are not going to be replaced in the forseeable
        future. The current production capacity of the world is nearly double than the consumption leading to continuous pressure on quality and cost.
        There is also a constant noise to go green. Resultantly, newer polymers and other materials are being developed on one end and more and more
        electronics in the form of chips and sensors are finding its way into the tire supply chain.
      </p>
      <p>
        The end customers are also demanding the most advanced, easy-to-use, and feature-rich plug-n-play tire sales software solution on the market.
      </p>
    </div>
    <div class="col-sm">
      <img class="photo" src="images/service.jpg" alt="tire pic" />
    </div>
  </div>
</div>
